# Python cache
__pycache__/
*.pyc

# Jupyter checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/

# OS files
.DS_Store
Thumbs.db

# Results/plots if you don't want large files in repo
results/
